div{
    background-color: orange;
    color: crimson;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

#Second
{
    background-color: blueviolet;
    color: black;
}


/* Cacasding */

